* {
	margin: 0;
}

body {
	background: linear-gradient(90deg, #111, #222);
	text-align: center;
	color: #fafafa;
	padding-top: 128px;
}

h1 {
	font-family:fantasy;
	font-style: italic;
	line-height: 200%;
}

h2 {
	font-size: 20px;
	font-family: monospace;
	text-align: center;
	max-width: 700px;
	width: 95%;
	text-align: center;
	margin: 4px auto;
}

h3 {
	margin-top: 32px;
	font-size: 32px;
	font-family: serif;
}

#snackbar-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    pointer-events: none;
    width: calc(100% - 16px);
    max-width: 700px;
    z-index: 40;
    text-align: center;
}

.snackbar-content {
    display: inline-block;
    text-align: left;
    background-color: #fafafa;
    color: #323232;
    border: 3px solid #323232;
    font-weight: 500;
    line-height: 20px;
    font-size: 16px;
    min-height: 36px;
    border-radius: 4px;
    pointer-events: all;
    box-sizing: border-box;
    padding: 12px 16px;
}

.snackbar {
    display: block;
    width: 100%;
    margin: 8px 0;
    margin-bottom: -44px;
    pointer-events: none;
    transition: margin-bottom 225ms cubic-bezier(0.4, 0.0, 1, 1), color 150ms 75ms;
    text-align: center;
    color: rgba(256, 256, 256, 1);
}

.snackbar.slideUp {
    transition: margin-bottom 200ms cubic-bezier(0.0, 0.0, 0.2, 1), color 150ms 75ms;
    margin-bottom: 8px;
}

#dance.activated {
	position: fixed;
	top: 50px;
	left: 50px;
	animation: 1s infinite linear cowe-dance;
}

button {
	padding: 8px 12px;
	border: none;
	border-radius: 4px;
	background: #fafafa;
	margin: 12px auto;
	font-size: 20px;
	cursor: pointer;
	background: linear-gradient(#6e1d1d, #4d0808);
	color: #fafafa;
	transition: 200ms;
}

button:hover {
	transform: scale(1.5);
}

button:active {
	animation: 0.4s infinite linear cowe-dance;
}

@keyframes cowe-dance {
	0% {
		transform: scale(1) rotate(0);
	}

	50% {
		transform: scale(0) rotate(0.5turn);
	}

	100% {
		transform: scale(1) rotate(1turn);
	}
}

.kalender {
	margin: 16px auto;
	border-collapse: collapse;
}

.kalender th, .kalender td {
	background: #060504;
	border: 2px solid #aaa;
	padding: 6px 8px;
}

.kalender td {
	background: #333;
	border: 2px solid #777;
}

.kalender .warn {
	background: #4d0808;
}

a {
	color: #7171da;
}